<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="creationsofali.expressbooking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bus"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".AvailableServices"
            android:label="Available Services">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Booking" />
        </activity>
        <activity
            android:name=".Booking"
            android:label="Choose Route">
            <meta-data
                android:name="android:support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BusDetailsActivity"
            android:label="Details">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AvailableServices" />
        </activity>
        <activity
            android:name=".RouteUnavailableActivity"
            android:label="Route Unavailable" />
        <activity
            android:name=".UserDetailsActivity"
            android:label="" />
        <activity
            android:name=".TransactionActivity"
            android:label="Complete Payment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PayUpActivity" />
        </activity>
        <activity
            android:name=".PayUpActivity"
            android:label="">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BusDetailsActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="Help">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PayUpActivity" />
        </activity>
        <activity android:name=".TicketActivity" android:label="Ticket"></activity>
    </application>

</manifest>